<div>
<div>
<h1 >{{show.name}}</h1>
<div class = "image">
{{#if show.image.medium}}
<img src="{{show.image.medium}}" alt="{{show.name}}"/>
{{/if}}
</div>
<dl >
  <dt class = "detailTitles">Language:</dt>
  <dd>{{show.language}}</dd>
  <dt class = "detailTitles">Genres:</dt>
  <dd>
  <ul>
    {{#each show.genres}}
    <li>{{ this }}</li>
    {{/each}}
  </ul>
  </dd>
  <dt class = "detailTitles">Average Rating:</dt>
  <dd>{{show.rating.average}}</dd>
  <dt class = "detailTitles">Network:</dt>
  <dd>{{show.network.name}}</dd>
  <dt class = "detailTitles">Summary:</dt>
  <dd>{{show.summary}}</dd>
</dl> 
</div>
</div>