<h1>User Information</h1>
<body>
    <link rel="stylesheet" href="/public/design.css">
</body>
<p class="white" >ID: {{_id}} </p>
<p class="white" >Username: {{username}} </p>
<p class="white" >First Name: {{firstName}}</p>
<p class="white" >Last Name: {{lastName}}</p>
<p class="white" >Profession: {{profession}}</p>
<p class="white" >Bio: {{bio}}</p>
<a class= "logout" href="/logout">Logout</a>