<h1>User Information: </h1>
<p>ID: {{_id}} </p>
<p>Username: {{username}} </p>
<p>First Name: {{firstName}}</p>
<p>Last Name: {{lastName}}</p>
<p>Profession: {{profession}}</p>
<p>Bio: {{bio}}</p>
<a href="/logout">Logout</a>